body {
    background-color: bisque;
}

h1 {
    font-family: monospace;
    text-align: center;
}

h2 {
    font-family: monospace;
}

h3 {
    font-family: monospace;
}

ul {
    list-style-type: square;
    font-family: monospace;
}

label {
    font-family: monospace;
}

button {
    font-family: monospace;
}

table, th, td {
    font-family: monospace;
    border: 2px solid black;
}

td {
    padding: 20px;
}

input {
    background-color: antiquewhite;
}
